extends ./layout/layout.jade

block header
  header.header
    h1(id='title')=title

block title
  title=title

block style
  link(rel='stylesheet', href="#{base_url}/styles/calendar.css")
  link(rel='stylesheet', href="#{base_url}/styles/tomorrow.css")
  link(rel='stylesheet', href="#{base_url}/styles/diary.css")


block content
  .content
    #container

block script
  script(src='#{base_url}/scripts/vendor.bundle.js')
  script(src='#{base_url}/scripts/index.js')
